<div class="content-section implementation" *ngIf="isDataAvailable">

  <canvas #temperatureChart baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"></canvas>

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>
          Datum mjerenja
        </th>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of lineChartData">
        <td>{{d.label}}</td>
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </tbody>
  </table>

</div>
