<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
  <div class="btn-toolbar ml-auto">
    <div class="btn-group mr-2">
      <a class="btn btn-sm btn-outline-secondary">
        Izvoz
      </a>
    </div>
  </div>
</div>
<div class="content-section implementation" *ngIf="isDataAvailable">

  <canvas #temperatureChart baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"></canvas>

  <<<<<<< HEAD <form class="form-inline">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">
      <!--TODO: label-->
    </label>
    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="numberOfDays" name="numberOfDays">
      <option *ngFor="let c of selectValues" [value]="c.value">{{c.name}}</option>
    </select>
    <label>
      <!--TODO: label-->
    </label>
    <form class="form">
      <div class="form-row">
        <div class="form-inline col-8">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Podaci o temperaturi za posljednjih</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="numberOfDays" name="numberOfDays"
            (change)="onChange($event.target.value)">
      <option *ngFor="let c of selectValues" [value]="c.value">{{c.name}}</option>
    </select>
          <label>dana</label>
        </div>
        <div class="form-group col">
          <button class="btn btn-outline-secondary float-right" (click)="table.exportToCSV()">Izvoz u CSV</button>
        </div>
      </div>
    </form>

    <app-sensor-data-table #table [tableModel]='tableModel'></app-sensor-data-table>

</div>
