<toaster-container></toaster-container>
<div class="content-section implementation" *ngIf="isDataAvailable">

  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
    [chartType]="lineChartType"></canvas>

  <h2>Home temperature for the past 5 days</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>