<ng-container *ngIf="!!homeEnvironment">
    <h2 class="text-left">
        <img class="ui-icon mr-3" src="/assets/open-iconic/svg/home.svg" alt="home">Smart home:
        <b>{{homeEnvironment.homeName}}</b>
    </h2>
    <div class="container">
        <div *ngFor="let indoorLocation of homeEnvironment.indoorLocationsWithSensorsAndValues">
            <div class="mb-2">
                <img class="ui-icon mr-1" src="/assets/open-iconic/svg/map-marker.svg" alt="location">Lokacija:
                <b>{{indoorLocation.locationName}}</b>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-2 card-group" *ngFor="let sensor of indoorLocation.sensorValues">
                    <div class="card">
                        <h6 class="card-header"><img class="ui-icon" [src]="sensor.iconUrl" [alt]="sensor.iconText">{{sensor.sensorName}}</h6>
                        <div class="card-body">
                            <b>{{sensor.value}}</b>
                        </div>
                        <div class="card-footer">
                            <img class="ui-icon" [src]="sensor.dateTimeIconUrl" [alt]="sensor.dateTimeIconText"> {{sensor.dateTime}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
